node_modules
npm-debug.log
dist
.git
.gitignore
.env
.env.local
.env.*.local
.editorconfig
.eslintignore
.eslintrc.json
.prettier*
.vscode
.idea
coverage
test
.github
docker-compose.yml
.dockerignore
Dockerfile
README.md
