PORT=3000

DB_HOST=127.0.0.1
DB_PORT=5433
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=petradar
DB_SYNCHRONIZE=true

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_user
SMTP_PASS=your_password
SMTP_FROM=no-reply@petradar.local
GENERIC_NOTIFICATION_EMAIL=alertas@petradar.local

MAPBOX_ACCESS_TOKEN=your_mapbox_access_token
